body {
    front-family: 'brush script mt', cursive;
    background-color: #cdbcbc;
    padding: 24px;
}

h1 {
    text-align: center;
    color: #d20808;
    font-family: 'brush script mt', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #bcbc9a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
     text-decoration: double rgb(146, 163, 149);
}

